| Groups
div#body
    ul.groups
        each group in groups
            if group.name === activeGroup
                li.active(style="color:" + group.color)= group.name
            else
                li(style="color:" + group.color)= group.name
    button#add +